<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hamMapper">
	<select id="selectList" resultType="ham">
		select * from t_ham order by
		num asc
	</select>
	<select id="selectOne" parameterType="String" resultType="ham">
		select * from t_ham where num=#{num}
	</select>
	<insert id="insertOne" parameterType="ham">
		insert into t_ham
		values(t_ham_seq.nextval, #{name}, #{price}, #{cal})
	</insert>
	<delete id="deleteOne" parameterType="String">
		delete t_ham where num=#{num}
	</delete>
	<update id="updateOne" parameterType="ham">
		update t_ham set price=#{price}, cal=#{cal} where num=#{num}
	</update>

</mapper>